body {
	max-width: 648px;
	padding: 1rem;
	margin: 0 auto;
	font-family: sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.galerie {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 1rem;
}

.galerie a {
	width: calc(25% - 3 * 1rem / 4);
}
